@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow')

*
  margin: 0
  padding: 0
  box-sizing: border-box

html
  font-size: 62.5%

body
  background: url('http://unsplash.it/1200') no-repeat center center cover
  max-height: 100vh

a
  color: black
  text-decoration: none

ul
  padding: 0

li
  cursor: pointer
  list-style: none
