.header

.header-links
  display: flex
  align-items: center

.header-item
  margin: 0 0 0 2rem
  font:
    family: 'Archivo Narrow', sans-serif
    size: 3rem
  &:hover a
    color: blue
    text-decoration: blue underline

.logo-small
  display: inline-block
  height: 2.5rem
  width: 2.5rem
  margin-top: 10px
  color: green
  background-color: green
  box-shadow: inset -10px -10px blue, inset 10px 10px green

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait)
  .header
    width: 100vw
