.landing
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  height: 97.5vh

.landing-headline
  margin: 30vh 0 5vh 0
  line-height: 8vh
  font:
    size: 10rem
    family: 'Archivo Black', sans-serif

.landing-subhead
  font:
    size: 3rem
    family: 'Archivo Black', sans-serif
  letter-spacing: 1.5rem

.link-list
  display: flex
  justify-content: center
  margin: 15vh 35vw
  border: 1px solid black
  border-radius: 5px

.link-item
  display: flex
  justify-content: center
  align-items: center
  height: 2em
  width: 20vw
  border-left: 1px solid black
  &:first-child
    border-left: none
  font:
    size: 3rem
    family: 'Archivo Narrow', sans-serif
  letter-spacing: .25rem
